<%= form_with(model: player, class: "contents") do |form| %>
  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <%= inline_error_for(:name, player) %>
  </div>

  <div class="my-5">
    <%= form.label :team_id %>
    <%= form.select(:team_id, @teams.collect {|t| ["#{t.name}", t.id]}, {},
                      data: { controller: "tselect"},
                      class: 'block w-full rounded-sm cursor-pointer focus:outline-none', 
                      required: true, 
                      placeholder: "Seleccione el equipo") %>
    <%= inline_error_for(:team, player) %>
  </div>

  <div class="my-5">
    <%= form.label :seasons %>
    <%= form.number_field :seasons, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <%= inline_error_for(:seasons, player) %>
  </div>

  <div class="inline">
    <%= form.submit "Guardar",class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <button type="button" data-action="click->turbo-modal#hideModal" class="rounded-lg py-3 px-5 bg-red-600 text-white inline-block font-medium cursor-pointer">Cancelar</button>
  </div>
<% end %>
