<div id="<%= dom_id player %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= player.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Team:</strong>
    <%= player.team_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Seasons:</strong>
    <%= player.seasons %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this player", player, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this player', edit_player_path(player), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
