<%= turbo_frame_tag "table" do %>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th id="players-name" scope="col" class="text-left px-6 py-3 relative">
            <%= sort_indicator if session.dig('player_filters', 'column') == "name" %>
            <%= build_order_link(column: "name", label: "Name") %>
          </th>
          <th id="players-seasons" scope="col" class="text-left px-6 py-3 relative">
            <%= sort_indicator if session.dig('player_filters', 'column') == "seasons" %>
            <%= build_order_link(column: "seasons", label: "Seasons") %>
          </th>
          <th id="players-team" scope="col" class="text-left px-6 py-3 relative">
            <%= sort_indicator if session.dig('player_filters', 'column') == "teams.name" %>
            <%= build_order_link(column: "teams.name", label: "Team") %>
          </th>
          <th scope="col" class="px-6 py-3">
            Acciones
          </th>
        </tr>
      </thead>
        <tbody id="players_table_body">
          <%= render @players %>
        </tbody>
    </table>
  </div>
  <div class="flex mx-auto mt-2">
    <%== pagy_nav(@pagy) %>
  </div>
<%end%>